# See http://help.github.com/ignore-files/ for more about ignoring files.
/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/patches

# compiled output
dist
/tmp
build
**/*.bun

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/typings
*.tsbuildinfo

# Logs
logs
/libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

release
.vscode/.debug.env

# System Files
.DS_Store
Thumbs.db
.vercel
